@import "./scss/header.css";
@import "./scss/main.css";
@import "./scss/desired.css";
@import "./scss//signForm.css";
@import "./scss/wrapper.css";

* {
  font-family: Roboto;
  font-size: 4px;
  outline: none;
}

html {
  background: #cacaca;
}

 body {
  width: 320px;
  margin: auto;
  background: #fff;
  color: #6e7690;
}

header {
  height: 100%;
  width: 100%;
  background: #cacaca;
}

header img {
  display: block;
  height: 30px;
  width: 30px;
  background: #cacaca;
  opacity: 0.2;
  margin: 10px auto;
}
